/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: verdana, arial, helvetica, sans-serif;
 }


.container {
  width: 90%;
  margin: auto;
}

form {
  display: block;
}

.label {
  margin-bottom: 0;
}

.errors-list {
  background-color: #ddd;
  margin: 0;
  padding: 30px;
}

.error-container {
  border: 1px solid red;
  width: 40%;
}

.error-title {
  padding:10px;
  margin: 0;
  background-color: #f34;
  color: #ddd;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

th, td {
  padding-right: 15px;
}

.actions-link {
  padding-right: 5px;
}

a {
  /*text-decoration: none;*/
  color: #444;
}